<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="assets/css/index.min.css">
    <script type="text/javascript" src="assets/js/vue.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7b1742c43602c4ba1080845e597532e4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19122908-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-19122908-1');
    </script>
    <script>
        window.onload = function () {
            // Full spec-compliant TodoMVC with localStorage persistence
            // and hash-based routing in ~120 effective lines of JavaScript.

            // localStorage persistence
            var STORAGE_KEY = localStorage.getItem('todos-key');
            if (!STORAGE_KEY) {
                STORAGE_KEY = 'todos-vuejs-2.0';
            }

            var todoStorage = {
                fetch: function () {
                    var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
                    todos.forEach(function (todo, index) {
                        todo.id = index
                    })
                    todoStorage.uid = todos.length
                    return todos
                },
                save: function (todos) {
                    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
                }
            }

            document.getElementById("changekey").onclick = function () {
                var index = this.dataset['index'];
                if (index == null) {
                    index = 0;
                }
                if (index >= 3) {
                    index = 0;
                } else {
                    index++;
                }
                this.dataset['index'] = index;
                var groups = ['todos-vuejs-2.0', 'todos-group-1', 'todos-group-2', 'todos-group-3'];
                if (groups[index]) {
                    STORAGE_KEY = groups[index];
                    localStorage.setItem('todos-key', groups[index]);
                    document.getElementById("task").innerHTML = STORAGE_KEY;
                }
                app.todos = todoStorage.fetch();
                app.$forceUpdate();

            };

            // visibility filters
            var filters = {
                all: function (todos) {
                    return todos
                },
                active: function (todos) {
                    return todos.filter(function (todo) {
                        return !todo.completed
                    })
                },
                completed: function (todos) {
                    return todos.filter(function (todo) {
                        return todo.completed
                    })
                }
            }

            // app Vue instance
            var app = new Vue({
                // app initial state
                data: {
                    todos: todoStorage.fetch(),
                    newTodo: '',
                    editedTodo: null,
                    visibility: 'all'
                },

                // watch todos change for localStorage persistence
                watch: {
                    todos: {
                        handler: function (todos) {
                            todoStorage.save(todos)
                        },
                        deep: true
                    }
                },

                // computed properties
                // http://vuejs.org/guide/computed.html
                computed: {
                    filteredTodos: function () {
                        return filters[this.visibility](this.todos)
                    },
                    remaining: function () {
                        return filters.active(this.todos).length
                    },
                    allDone: {
                        get: function () {
                            return this.remaining === 0
                        },
                        set: function (value) {
                            this.todos.forEach(function (todo) {
                                todo.completed = value
                            })
                        }
                    }
                },

                filters: {
                    pluralize: function (n) {
                        return n === 1 ? 'item' : 'items'
                    }
                },

                // methods that implement data logic.
                // note there's no DOM manipulation here at all.
                methods: {
                    addTodo: function () {
                        var value = this.newTodo && this.newTodo.trim()
                        if (!value) {
                            return
                        }
                        this.todos.push({
                            id: todoStorage.uid++,
                            title: value,
                            completed: false
                        })
                        this.newTodo = ''
                    },

                    removeTodo: function (todo) {
                        if (confirm("您确定要清除您的 Todolist?")) {
                            this.todos.splice(this.todos.indexOf(todo), 1)
                        }
                    },

                    editTodo: function (todo) {
                        this.beforeEditCache = todo.title
                        this.editedTodo = todo
                    },

                    doneEdit: function (todo) {
                        if (!this.editedTodo) {
                            return
                        }
                        this.editedTodo = null
                        todo.title = todo.title.trim()
                        if (!todo.title) {
                            this.removeTodo(todo)
                        }
                    },

                    cancelEdit: function (todo) {
                        this.editedTodo = null
                        todo.title = this.beforeEditCache
                    },

                    removeCompleted: function () {
                        if (confirm("您确定要清除您的 Todolist?")) {
                            this.todos = filters.active(this.todos)
                        }
                    }
                },

                // a custom directive to wait for the DOM to be updated
                // before focusing on the input field.
                // http://vuejs.org/guide/custom-directive.html
                directives: {
                    'todo-focus': function (el, binding) {
                        if (binding.value) {
                            el.focus()
                        }
                    }
                }
            })

            // handle routing
            function onHashChange() {
                var visibility = window.location.hash.replace(/#\/?/, '')
                if (filters[visibility]) {
                    app.visibility = visibility
                } else {
                    window.location.hash = ''
                    app.visibility = 'all'
                }
            }

            window.addEventListener('hashchange', onHashChange)
            onHashChange()
            // mount
            app.$mount('.todoapp')
        }
    </script>
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
               autofocus autocomplete="off"
               placeholder="What needs to be done?"
               v-model="newTodo"
               @keyup.enter="addTodo">
    </header>
    <section class="main" v-show="todos.length" v-cloak>
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <ul class="todo-list">
            <li v-for="todo in filteredTodos"
                class="todo"
                :key="todo.id"
                :class="{ completed: todo.completed, editing: todo == editedTodo }">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed">
                    <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input class="edit" type="text"
                       v-model="todo.title"
                       v-todo-focus="todo == editedTodo"
                       @blur="doneEdit(todo)"
                       @keyup.enter="doneEdit(todo)"
                       @keyup.esc="cancelEdit(todo)">
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
        <ul class="filters">
            <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
            <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
            <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
            Clear completed
        </button>
    </footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    <p style="position: fixed; right: 10px; top: 20px;"><a href="javascript:void(0)" id="changekey" data-index="0">Switch Task (<span id="task">default</span>)</a> of <a href="https://github.com/lonisy/">I'm
        Lee</a></p>
</footer>
</body>
</html>